body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    text-align: center;
}

.game-name {
   width: 100%;
   text-align: center;
   margin-bottom: 10px;
}

.score-table {
    margin-bottom: 5px;
}

.score-table-row {
    display: flex;
}

.score-table-title, .score-table-result {
    width: 100%;
    border: 1px solid #000;
}